{% extends "base/base.html" %}

{% block pagetitle %}Dashboard{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/fonts/simple-line-icons/style.min.css')}}">
{% endblock %}

{% block pagecontent %}
<div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="warning">{{smsBalance}}</h3>
                            <span>Number of SMS Remaining</span>
                        </div>
                        <div class="align-self-center">
                            <i class="icon-speech warning font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media d-flex">
                        <div class="media-body text-left">
                            <h3 class="success">{{whatsappBalance}}</h3>
                            <span>WhatsApp messages Remaining</span>
                        </div>
                        <div class="align-self-center">
                            <i class="fa fa-whatsapp success font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}