{% extends "base/base.html" %}

{% block pagetitle %}Edit Profile{% endblock %}

{% block pagecontent %}
<!-- account setting page start -->
<section id="page-account-settings">
    <div class="row">
        <!-- left menu section -->
        <div class="col-md-3 mb-2 mb-md-0">
            <ul class="nav nav-pills flex-column mt-md-0 mt-1">
                <li class="nav-item">
                    <a class="nav-link d-flex active" id="account-pill-general" data-toggle="pill" href="#account-vertical-general" aria-expanded="true">
                        <i class="feather icon-globe"></i>
                        General
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex" id="account-pill-password" data-toggle="pill" href="#account-vertical-password" aria-expanded="false">
                        <i class="feather icon-lock"></i>
                        Change Password
                    </a>
                </li>
            </ul>
        </div>
        <!-- right content section -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="account-vertical-general" aria-labelledby="account-pill-general" aria-expanded="true">
                                <form action="{{ url_for(request.endpoint) }}" method="post" role="form" novalidate>
                                    {{ userinfoform.csrf_token }}
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="controls">
                                                    {{ userinfoform.uid.label }}
                                                    {{ userinfoform.uid(class_="form-control", placeholder=userinfoform.uid.label.text) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <div class="controls position-relative">
                                                    {% for subfield in userinfoform.category %}
                                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                                        {{ subfield(class_="custom-control-input") }}
                                                        {{ subfield.label(class_="custom-control-label") }}
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div class="form-group custom-control custom-checkbox">
                                                {{ userinfoform.whatsapp(class_="custom-control-input", checked=userinfoform.whatsapp.data) }}
                                                {{ userinfoform.whatsapp.label(class_="custom-control-label") }}
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="controls">
                                                    {{ userinfoform.fullname.label }}
                                                    {{ userinfoform.fullname(class_="form-control", placeholder=userinfoform.fullname.label.text) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6" style="display: none;">
                                            <div class="form-group">
                                                <div class="controls">
                                                    {{ userinfoform.companyname.label }}
                                                    {{ userinfoform.companyname(class_="form-control", placeholder=userinfoform.companyname.label.text) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="controls">
                                                    {{ userinfoform.email.label }}
                                                    {{ userinfoform.email(class_="form-control", placeholder=userinfoform.email.label.text) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="controls">
                                                    {{ userinfoform.mobilenumber.label }}
                                                    {{ userinfoform.mobilenumber(class_="form-control", placeholder=userinfoform.mobilenumber.label.text) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="controls">
                                                    {{ userinfoform.gstin.label }}
                                                    {{ userinfoform.gstin(class_="form-control", placeholder=userinfoform.gstin.label.text) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <div class="controls">
                                                    {{ userinfoform.pincode.label }}
                                                    {{ userinfoform.pincode(class_="form-control", placeholder=userinfoform.pincode.label.text) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <div class="controls">
                                                    {{ userinfoform.state.label }}
                                                    {{ userinfoform.state(class_="form-control", placeholder=userinfoform.state.label.text) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <div class="controls">
                                                    {{ userinfoform.city.label }}
                                                    {{ userinfoform.city(class_="form-control", placeholder=userinfoform.city.label.text) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group custom-control custom-checkbox">
                                                {{ userinfoform.samebilladdress(class_="custom-control-input", checked=userinfoform.samebilladdress.data) }}
                                                {{ userinfoform.samebilladdress.label(class_="custom-control-label") }}
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="controls">
                                                    {{ userinfoform.billingaddress.label }}
                                                    {{ userinfoform.billingaddress(class_="form-control", placeholder=userinfoform.billingaddress.label.text) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <div class="controls">
                                                    {{ userinfoform.communicationaddress.label }}
                                                    {{ userinfoform.communicationaddress(class_="form-control", placeholder=userinfoform.communicationaddress.label.text) }}
                                                </div>
                                            </div>
                                        </div>
                                        {% for my_item in brands_data %}
                                        <div class="col-4">
                                            <div class="form-group">
                                                {{ my_item.label }}
                                                {{ my_item(class_="form-control", placeholder=my_item.label.text) }}
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                            {{ userinfoform.submituserinfo(class_="btn btn-primary mr-sm-1 mb-1 mb-sm-0") }}
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade " id="account-vertical-password" role="tabpanel" aria-labelledby="account-pill-password" aria-expanded="false">
                                <form action="{{ url_for(request.endpoint) }}" method="post" role="form" novalidate>
                                    <div class="row">
                                        {{ userpasswordform.csrf_token }}
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="controls">
                                                    {{ userpasswordform.oldpassword.label }}
                                                    {{ userpasswordform.oldpassword(class_ = "form-control", **{"placeholder":"Old Password","data-validation-required-message":"This old password field is required"}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="controls">
                                                    {{ userpasswordform.newpassword.label }}
                                                    {{ userpasswordform.newpassword(class_ = "form-control", minlength=8, **{"placeholder":"New Password","data-validation-required-message":"The password field is required"}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="controls">
                                                    {{ userpasswordform.retypenewpassword.label }}
                                                    {{ userpasswordform.retypenewpassword(class_ = "form-control", minlength=8, **{"placeholder":"New Password","data-validation-required-message":"The Confirm password field is required","data-validation-match-match":"newpassword"}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                            {{ userpasswordform.submituserpassword(class_="btn btn-primary mr-sm-1 mb-1 mb-sm-0") }}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- account setting page end -->
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    $(document).ready(function() {
        
        if (this.value == 'company') {
            $("#{{ userinfoform.fullname.id }}").parents().eq(2).removeClass("col-12").addClass("col-6");
            $("#{{ userinfoform.companyname.id }}").parents().eq(2).show();
        }

        if ($("#{{ userinfoform.samebilladdress.id }}").prop("checked") == true) {
            $("#{{ userinfoform.communicationaddress.id }}").attr("readonly", true);
        }

        $("input[type=radio][name={{ userinfoform.category.name }}]").change(function () {
            if (this.value == 'individual') {
                $("#{{ userinfoform.fullname.id }}").parents().eq(2).removeClass("col-6").addClass("col-12");
                $("#{{ userinfoform.companyname.id }}").parents().eq(2).hide();
            }
            else {
                $("#{{ userinfoform.fullname.id }}").parents().eq(2).removeClass("col-12").addClass("col-6");
                $("#{{ userinfoform.companyname.id }}").parents().eq(2).show();
            }
        });

        $("#{{ userinfoform.pincode.id }}").on("input", function () {
            if (this.value.length == 6) {
                $.ajax({
                    type: 'POST',
                    url: "/api/get-pincode-details/",
                    data: { pincode: $("#{{ userinfoform.pincode.id }}").val() },
                    dataType: "json",
                    success: function (data) {
                        if (data['status'] == "success") {
                            $("#{{ userinfoform.state.id }}").val(data["state"]);
                            $("#{{ userinfoform.city.id }}").val(data["city"]);
                        } else {
                            alert("Invalid Pincode");
                            $("#{{ userinfoform.state.id }}").val("");
                            $("#{{ userinfoform.city.id }}").val("");
                        }
                    }
                });
            }
        });

        $("#{{ userinfoform.samebilladdress.id }}").click(function () {
            if ($("#{{ userinfoform.samebilladdress.id }}").prop("checked") == true) {
                $("#{{ userinfoform.communicationaddress.id }}").attr("readonly", true);
                $("#{{ userinfoform.communicationaddress.id }}").val($("#{{ userinfoform.billingaddress.id }}").val());
            } else {
                $("#{{ userinfoform.communicationaddress.id }}").attr("readonly", false);
            }
        });

        $("#{{ userinfoform.billingaddress.id }}").on("input", function () {
            if ($("#{{ userinfoform.samebilladdress.id }}").prop("checked") == true) {
                $("#{{ userinfoform.communicationaddress.id }}").val($("#{{ userinfoform.billingaddress.id }}").val());
            }
        });

    });
</script>

{% endblock %}