{% block footer %}
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light navbar-border">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-right d-none d-lg-block">PARAS DOORS, CRAFTED WITH <i class="feather icon-heart pink"></i> BY TEAM <a class="text-bold-800 green darken-2" href="https://www.hacksify.in" target="_blank">HACKSIFY </a></span></p>
</footer>
<!-- END: Footer-->
{% endblock %}